## Ejercicios - Condicionales

### Cuidado con los tipos

¿Qué texto aparece en pantalla?

In [ ]:
if 14 < 120 :
    print('primer texto')
if '14' < '120' :
    print('segundo texto')

### Cuidado con las posibilidades

¿Es correcto el siguiente código?

In [ ]:
firstValue = int(input("Inngrese un número: "))
secondValue = int(input("Ingrese otro número: "))

if firstValue > secondValue :
    maximumValue = firstValue
if secondValue > firstValue :
    maximumValue = secondValue

print("el número máximo es:", maximumValue)

### Horas extras

Escriba el código que calcule y muestre el salario de un empleado de manera que cobre 1.5 veces el valor de cada hora que exceda las 40 mensuales.

In [ ]:
salary = float(input("Ingrese el salario por hora: "))
hours = int(input("Ingresa las horas trabajadas: "))
# ...

### Calificaciones

Escriba el código que determine y muestre la denominación de una calificación de acuerdo al siguiente detalle


\>= 0.9 - Sobresaliente

\>= 0.8 - Notable

\>= 0.7 - Bien

\>= 0.6 - Suficiente

\<  0.6 - Insuficiente

Los valores fuera del rango 0.0 y 1.0 no deben aceptarse

### Pares e Impares

Escriba el código que determine si un número ingresado por teclado es par o impar

In [ ]:
number = int(input("Ingreso un número: "))
# ...


Escriba el código que determina si un número ingresado por teclado es el doble de un número impar

In [ ]:
number = int(input("Ingreso un número: "))
# ...

### Año bisiesto

Escriba el código que determine si un año ingresado por teclado es bisiesto o no

In [ ]:
year = int(input("Ingrese un año: "))
# ...

### Billeteo

Escriba el código que calcule el desglose en billetes y monedas de una cantidad de dinero exacta; hay billetes de 500, 200, 100, 50, 20, 10 y 5 y monedas de 2 y 1.

Ejemplo: la cantidad 434 se desglosa en 2 billetes de 200, 1 billete de 20, 1 billete de 10 y 2 monedas de 2

In [ ]:
amount = int(input("Ingrese la cantidad de dinero: "))
# ...